<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Tripselektor</title>
    	<link href="main.css" rel="stylesheet" type="text/css">
    	<script type="text/javascript" src="engine1/jquery.js"></script>
    </head>
    
    <body>
        <header id="banner" class="body">
            <div id="logo_wrap">
                <a id="logo" href="#" title="Tripselektor">Tripselektor</a>
            </div>
            <nav>
                <div id="main_nav"></div>
            </nav>
            <div id="sign_in_nav">
                <div id="user_nav">
                    <ul>
                        <li><a href="#" id="loginLink" rel="nofollow">Login</a></li>
                        <li><a href="#" id="signupLink" rel="nofollow">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </header><!-- /#banner -->
        
        <section id="content" class="body">
             <div id="pic_wrap">
             	
            </div>
        </section><!-- /#content --> 
        
        <footer id="contentinfo" class="body">
            <div id="foot_wrap">
                <div id="foot_wrap_content">
                    <ul>
                        <li><a href="#" rel="external">How It Works</a></li>
                        <li><a href="#" rel="external">FAQ</a></li>
                        <li><a href="#" rel="external">Privacy</a></li>
                        <li><a href="#" rel="external">Terms</a></li>
                        <li><a href="#" rel="external">About</a></li>
                        <li><a href="#" rel="external">Jobs</a></li> 
                        <li><a href="#" rel="external">support@tripselektor.com</a></li>
                        <li><a id="facebook" href="#" title="Share via Facebook"></a></li>
                        <li><a id="twitter" href="#" title="Share via Twitter"></a></li> 
                        <li><a id="email" href="#" title="Share via Email"></a></li>
                    </ul>
                </div>
            </div>
        </footer><!-- /#contentinfo -->  
        
    </body>
</html>
