<div class="image">
<% if :width > :height %>
	<%= image_tag content, :alt => alt, :class => "image_wide" %> 
<% else %>
	<%= image_tag content, :alt => alt, :class => "image_tall" %> 
<% end %>
</div>