<div class=<%=frame%> >
<div class="image_test">

<% if width > height %>

	<%= image_tag content, :class => "landscape" %> 

<% else %>

	<%= image_tag content, :class => "portrait" %> 

<% end %>

</div>
</div>