<div class=<%=frame%>>
 <video class="movie"  preload="none" 
    poster="<%= h264_encoding.screenshots.first %>" controls>
    <source src="<%= h264_encoding.url %>" type="video/mp4">
  </video>
</div>
