<section id="content" class="body">

<input type="file" name="myfiles" multiple="multiple" action="/trip/post_content"> </br>

<textarea rows="4" cols="50"> </textarea> </br>
<input type="text" name="youtube" > </br>
<input type="text" name="soundcloud" > </br>
      
        </section><!-- /#content --> 