<section id="content" class="body">

<form action="/trip/post_add" method="post">
<input type="file" accept="image/*" capture="camera" name="photo"></br>
<input type="submit" value="Submit">
</form>
</br>
</br>
</br>

<input type="file" accept="audio/*" capture="microphone"></br>
</br>
</br>
</br>

<input type="file" accept="video/*" capture="camcorder"></br>

<input type="file" name="myfiles" multiple="multiple" action="/trip/post_content"> </br>

<textarea rows="4" cols="50"> </textarea> </br>
<input type="text" name="youtube" > </br>
<input type="text" name="soundcloud" > </br>
      
        </section><!-- /#content --> 