<section id="content" class="body">
        	<h2> Day 1! </h2>

        	<iframe id="youtube" width="600" height="400" src="http://www.youtube.com/embed/SeoX8MZd81E" frameborder="0" allowfullscreen></iframe>

          <iframe width="40%" height="466" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F7753324&show_artwork=true"></iframe>



        	 <section id="wrapper">
<%= render :partial => "map", :locals => {:content => "51.52|0.1062", :width => "560", :height => "400"} %> 
</section>

<%= image_tag "/res/postit.gif", :id => "postitnote" %>
<%= image_tag "/res/Urban_backpacking.jpeg",  :id => "gah"%>




      
        </section><!-- /#content --> 