<script src="http://www.webglearth.com/api.js"></script>


		<script>

			function initialize() {
    			var options = { zoom: 0.0, position: [47.19537,8.524404] };
    			var earth = new WebGLEarth('earth_div', options);
  			}
  			window.onload = initialize;


		</script>


  <div id="earth_div" style="width:800px;height:800px;border:1px solid gray; padding:2px;"></div>


