/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 */

@charset "UTF-8";
/* CSS Document */

/* Imports */ 
/*@import url("reset.css"); */
/*@import url("global-forms.css");  */

/***** Global *****/ 
/* 
    Resets defualt browser settings
    reset.css
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/* HTML5 tags */ 
header, section, footer, aside, nav, article, figure { 
display: block; 
}


/* Input */
input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 0 #000,inset 0px 3px 3px #eee;
    -webkit-box-shadow: 0 0 0 black,inset 0px 3px 3px #EEE;
    box-shadow: 0 0 0 black,inset 0px 3px 3px #EEE;
    font-size: 16px;
    border: 1px solid #BFBFBF;
    padding: 7px;
    height:40px;
    width: 550px;
    z-index: 7; 

}


/***** Header *****/  
#banner {
    background: #2f4f4f;
    /*margin: 0 auto;*/
    height: 100px;
    z-index: 1; 
}



#banner #logo {
    background: url(/res/tripselektor_title.gif);
    background-repeat: no-repeat;
    position: relative;
    top: 20px;
    left: 0px;
    height: 62px;
    width: 100%;
    z-index: 3;
    float: left;
    text-indent: -9999px; 
}

/***** Main Nav *****/  
#banner nav { 
    background-color: #00bfff; 
    height: 37px; 
    z-index: 2;
    position: relative;
    margin: 0 auto auto auto; 
    padding: 0; 
    text-align: center; 
    width: 100%;
    bottom: -63px;
}
    

        

#banner #user_pic {
    background: url(/res/user_pic.png);
    height: 24px;
    width: 24px;
    }
    
