// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover, .left_block{
	border-style:solid;
	border-width:2px;
	border-color:green;
}

#content{
	margin-left:10px;
	margin-right:10px;
	margin-top: 10px;
	margin-bottom:10px;
}

.image{
	width:100%;
	height:700px;
	overflow:hidden;

	margin-top:10px;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

img{
	width:100%;
}

.text{
	width:48%;
	height:600px;
	overflow:scroll;
	font-size:250%;
	float:left;

	margin-top:10px;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

.video{

	height:600px;
	width:48%;
	float:right;

	margin-top:10px;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	
}

.buffer{
	height:50px;

}

.left_block{
	background-color:green;
	width:48%;
	height:300px;
	float:left;
}

.top_small{
	background-color:red;
	width:50%;
	height:150px;	
	float:left;
}

#youtube{
	width:100%;
	/*display:block;
	margin-left: auto;
    margin-right: auto;

    margin-bottom: auto;*/
}

.bottom_small{
	background-color:yellow;
	width:50%;
	height:150px;
	float:left;
}

.baseline{
	width:100%;
	height:150px;
	clear:both
}

#soundcloud{
	width:100%;
 height:100%;
}

.cover_image{

}

.left_block #youtube{
 width:100%;
 height:100%;
}