// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper{
	position: relative;
	overflow:hidden;
}

.cover{

	width:84%;
	height:175px;
	overflow:hidden;
	/*vertical-align:middle;*/
	position: relative;

	margin-top:10px;
	margin-bottom:10px;
	margin-left:5%;
	margin-right:5%;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:3%;
	padding-right:3%;

}

#content{
	margin-left:10px;
	margin-right:10px;
	margin-top: 10px;
	margin-bottom:10px;
}

.image{
	width:100%;
	overflow:hidden;
	vertical-align:middle;

	margin-top:5px;
	margin-botton:10px;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

img{
	width:100%;
}

.side_left{
	width:38%;
	height:125px;
	overflow:hidden;
	float:left;

	margin-top:5px;
	margin-left: 5%;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:3%;
	padding-right:3%;
}

.side_right{
	height:125px;
	width:38%;
	float:right;
	overflow:hidden;

	margin-top:5px;
	margin-right: 5%;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:3%;
	padding-right:3%;
}

.text{
	width:45%;
	height:250px;
	overflow:scroll;
	font-size:150%;
	float:left;

	margin-top:10px;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

.video{

	height:250px;
	width:40%;
	float:right;

	margin-top:10px;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	
}

.left_block{
	background-color:green;
	width:48%;
	height:300px;
	float:left;
}

.top_small{
	background-color:red;
	width:50%;
	height:150px;	
	float:left;
}

.youtube{
	width:100%;
	height: 100%;
	/*display:block;
	margin-left: auto;
    margin-right: auto;

    margin-bottom: auto;*/
}

.bottom_small{
	background-color:yellow;
	width:50%;
	height:150px;
	float:left;
}

.baseline{
	width:100%;
	height:150px;
	clear:both
}

#soundcloud{
	width:100%;
 height:100%;
}

.cover_image{

}

.left_block #youtube{
 width:100%;
 height:100%;
}

.days{
	width: 100%;
	position: relative;
	float:left;
	font-size: 200%;
	margin-bottom: 5px;
	margin-top: 10px;
	background-color: rgba(127,127,127,0.42);
	padding-left: 5%;
	padding-bottom: 2px;
	padding-top: 2px;
}

#page_test{
	padding: 0px;
	background-color: #ebebeb;
}


.landscape{
	width: 170%;
	overflow: hidden;
	margin-left: -35%;
	margin-right: -35%;
}


.portrait{
	overflow: hidden;
	margin-bottom: -50%;
}


.image_test{
	overflow: hidden;
	padding-bottom: 1px;
}


.journal_text{
	margin-top: -2px;
}