<!DOCTYPE html>
<html>
<head>
  <title>Trip Selektor</title>

  <%= stylesheet_link_tag "application", controller.controller_name %>

  <%= javascript_include_tag "application", controller.controller_name %>

  <%= csrf_meta_tags %>
</head>
<body>
	<header id="banner" class="body">
            <div id="logo_wrap">
                <a id="logo" href="/user/home" title="VidCard"></a>
            </div>
            <nav>
                <div id="main_nav"></div>
            </nav>
        </header><!-- /#banner -->


<%= yield %>


</body>
</html>
